* {
	font-family: Arial;
}

body {
padding: 1%;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-family: Trebuchet, Verdana, Arial, sans-serif;
}

h2 {
	margin-bottom: 0.15em;
}

#author {
	margin-top: 0;
	font-weight: 300;
	font-size: 80%;
}

.inputwrapper {
	padding: 0.25em;
	float: left;
	overflow: visible;
}

svg.wrapper {
height: 100%;
width: 100%;
}

div#overview {
	width: 98%;
	min-height: 7em;
	background-color: #ccc;
	padding: 1%;
	margin: 1em 0em;
	display: table;
}

.connections_overview {
	float: left;
	width: 48%;
	padding: 0.5em 1%;
}

.connections_overview:nth-child(even) {
	float: right;
}

.connections_overview p {
	margin: 0px;
}


.x1 {
	background-color: rgb(31, 119, 180);
	color: white;
}

.x2 {
	background-color: rgb(255, 127, 14);
}


@media screen and (max-width: 900px) {
	.connections_overview {
		float: none;
		width: 98%;
	}	
	
	.connections_overview:nth-child(even) {
	float: none;
	}
	
	.inputwrapper {
		float: none;
	}
}

div#chart {
	margin: 1em 0em;
}

#loader {
	width: 32px;
	height: 32px;
	opacity: 0;
	-webkit-transition: opacity 0.7s ease-in;
	-moz-transition: opacity 0.7s ease-in;
	-o-transition: opacity 0.7s ease-in;
	transition: opacity 0.7s ease-in;
}

#loader.active {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
